@tailwind base;
@tailwind components;
@tailwind utilities;


.categories_inner:hover{
    transition: 0.8s;
    --tw-border-opacity: 1;
}
.menubar{
    display: none;
}
/* dropdown */
.dropdown{
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
    transform-origin: top;
    transform: scaleY(0);
}
.categories_inner:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 105%;
    transform: scaleY(1);
}
/* search icon media responsive*/

.search_icon_section{
    display: none;
}

.login_btn>button:hover{
    border: 1px solid #f46172;
}

.free_border{
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
}
/* header completed */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* footer */
.social_icons{
    flex-direction: column;
}
.headerProfileBox{
    height: 0;
    font-size: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}
.profile_section:hover .headerProfileBox{
    height: auto;
    font-size: auto;
    transform: scale(1);
}

.size_round:hover{
    border: 1px solid #ff436a;
}

.login_number>input[type=number]::-webkit-inner-spin-button,
.login_number>input[type=number]::-webkit-outer-spin-button{
    appearance: none;
}

.register_number>input[type=number]::-webkit-inner-spin-button,
.register_number>input[type=number]::-webkit-outer-spin-button{
    appearance: none;
}

/* Admin login page */
.background_admin{
    background: linear-gradient(315deg, #f51cb3 0%, #ff912f 33%, #f25512 66%,#f51cb3 100%);
}
.sideBarOpenClose>:first-child{
    right: 0px;
    opacity: 0;
}
.sideBarOpenClose:hover>:first-child, .sideBarOpenClose>:first-child:hover{
    right: -12px;
    opacity: 1;
}
.bgClipColor{
    background: linear-gradient(315deg, #f51cb3 0%, #ff912f 33%, #f25512 66%,#f51cb3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.file_upload{
    position: relative;
}

.file_upload[type=file]::-webkit-file-upload-button{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}
/* Admin login page */