@media screen and (min-width:1400px) {

    .main1{
        width: 1400px;
        margin: auto;
    }

}

@media screen and (max-width:1140px) {
    .categories_name{
        margin-left: -20px;
    }
}


@media screen and (max-width:1010px) {
    .profile_and_cart_section{
        width: 150px;
    }
    .search{
        display: none;
    }

    .search_icon_section{
        display: block;
    }

    .categories_name{
        display: none;
    }

    .menubar{
        display: block;
    }
}

@media screen and (max-width:555px) {
    .slider1{
        height: 80vh;
    }
}


@media screen and (max-width:440px) {
    .category_slider{
        height: 255px;
    }
}


@media screen and (max-width:385px) {
    .slider1{
        height: 45vh;
    }
}


@media screen and (max-width:330px) {
    .profile_and_cart_section{
        width: 150px;
        margin-right: 10px;
    }
    .search{
        display: none;
    }

    .search_icon_section{
        display: block;
    }

    .categories_name{
        display: none;
    }

    .menubar{
        display: block;
    }
}


@media screen and (max-width:321px) {
    .categories_footer{
        text-align: center ;
        width: 100%;
    }

    .customer_section{
        text-align: center;
        width: 100%;
    }

    .app_on_mobile{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .download_app{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .googleplaystore{
        width: 70%;
        margin-bottom: 10px;
    }

    .apple_store{
        width: 70%;
        margin-left: 0px;
    }

    .social{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .facebook{
        margin: 5px;
    }

    .twitter{
        margin: 5px;
    }

    .youtube{
        margin: 5px;
    }

    .instagram{
        margin: 5px;
    }

    .original_section_outer{
        width: 100%;
    }

    .original_section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10px;
    }
}

@media screen and (max-width:295px) {

    .logo_section>img{
        width: 45px;
    }

    .menubar{
        font-size: 20px;
        left: 80px;
    }

    .profile_and_cart_section{
        margin-right: 10px;
    }
    .search{
        display: none;
    }

    .profile_and_cart_section{
        width: 130px;
    }
    .search_icon2{
        font-size: 15px;
    }

    .profile_icon{
        font-size: 15px;
    }

    .cart_icon{
        font-size: 15px;
    }

    .categories_name{
        display: none;
    }
}


@media screen and (max-width:249px) {

    .logo_section>img{
        width: 70px;
    }

    .profile_and_cart_section{
        margin-right: 10px;
        display: none;
    }
    .search{
        display: none;
    }

    .menubar{
        font-size: 24px;
        left: 85%;
        margin-right: 15px;
    }

}

@media screen and (max-width:210px) {
    .slider1{
        height: 80vh;
    }
}

@media screen and (max-width:186px) {
    .slider1{
        height: 70vh;
    }

    .description_section>h3{
        font-size: 12px;
        font-weight: 1000;
    }

    .description_section>h4{
        font-size: 12px;
    }
}

@media screen and (max-width:153px) {

    .logo_section>img{
        width: 70px;
    }


    .profile_and_cart_section{
        margin-right: 10px;
        display: none;
    }
    .search{
        display: none;
    }

    .menubar{
        font-size: 24px;
        left: 80%;
        margin-right: 25px;
    }

}


@media screen and (max-width:141px) {

    header{
        justify-content: space-evenly;
    }

    .logo_section>img{
        width: 50px;
    }

    .profile_and_cart_section{
        margin-right: 10px;
        display: none;
    }
    .search{
        display: none;
    }

    .menubar{
        font-size: 24px;
        left: 70%;
    }

}



